<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>256641624296-8bib6o6o2r4jtqlkr0pfs2r6c5oq38rq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256641624296-8bib6o6o2r4jtqlkr0pfs2r6c5oq38rq</string>
	<key>API_KEY</key>
	<string>AIzaSyCGTO5OrmCr7cvgad44QuIvaTs_DZBGC5k</string>
	<key>GCM_SENDER_ID</key>
	<string>256641624296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>anna.goal-app</string>
	<key>PROJECT_ID</key>
	<string>goal-tracker-app-e17c8</string>
	<key>STORAGE_BUCKET</key>
	<string>goal-tracker-app-e17c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:256641624296:ios:73ae33b8612d2db4</string>
	<key>DATABASE_URL</key>
	<string>https://goal-tracker-app-e17c8.firebaseio.com</string>
</dict>
</plist>